<section>   
    <div class="container">
        <h1>Portfolio Index</h1>
        <% @portfolios.each do |portfolio| %>
            <ul>
                Name: <%= link_to(portfolio.title, portfolio) %>
                <br>
            </ul>
            <hr>
        <% end %>
    </div><!-- /.container -->
</section>  
