<section>   
    <div class="container">
        <h1>User Index</h1>
        <% @users.each do |user| %>
            <ul>
                Name: <%= link_to(user.first_name, user) %> <%= link_to(user.last_name, user) %>
                <br>
            </ul>
            <hr>
        <% end %>
    </div><!-- /.container -->
</section>  
