<!-- The side_nums dive puts numbers down the left side of the page like sublime -->
<div id="side_nums">
  <ul id="nums">
  </ul>
</div>

<header>
  <h1><span class="red">$</span>(<span class="blue">home</span>).ready<span class="blue"></span></h1>
</header>

<div id="home_container">
 
    <h2 id="home_choose_char"><span class="blue">function </span><span class="green">chooseCharacter</span> (<span class="orange">tom, olly, erik</span>){}</h2>

<!-- TOM -->
  <a href="/games/dutton">
    <div id="olly" class="character">
      <div class="viewer">
        <img  class="home_sprite" src="assets/dude.png">
      </div>
      <h2><span class="red">if </span>(<span class="blue">olly</span>){}<h2>
    </div> 
  </a>

<!--  OLLY -->
  <a href="/games/dane">
    <div id="tom" class="character">
      <div class="viewer">
        <img  class="home_sprite"  src="assets/dude.png">
      </div>
      <h2><span class="red">else if </span>(<span class="blue">tom</span>){}<h2>
    </div>
  </a>

<!-- ERIK -->
  <a href="/games/froese">
    <div id="erik" class="character">
      <div class="viewer">
        <img  class="home_sprite" src="assets/dude.png">
      </div>
      <h2><span class="red">else </span>(<span class="blue">erik</span>){}<h2>
    </div>
  </a>  

<!-- Hero shot images display below -->
<!-- Right now this is static, however they should change on hover over character -->
  <a class="game_link" href="/games/froese">
    <div id="hero_shot">
      <h2 id="home_p_name">P1: Erik</h2>
      <div id="stats">
        <ul>
          <li id="home_p_class">Class: Warrior</li>
          <li id="home_p_weap">Weapon: Axe</li>
          <li id="home_p_armour">Armour: Plate</li>
        </ul>
      </div>
    </div>
  </a>  

</div><!-- end div #container -->





