<header>
  <h1>Home</h1>
  <img id="header_img" src="assets/diamond.png">
</header>

<div id="home_container">
  <div id="info_bar">
    <h2>Choose your character</h2>
  </div>
<!-- TOM -->
  
  <div class="character">
    <div class="viewer">
      <img id="tom" class="home_sprite" src="assets/dude.png">
    </div>
    <h2>Tom<h2>
  </div> 
  
<!--  OLLY -->
  <div class="character">
    <div class="viewer">
      <img id="olly" class="home_sprite"  src="assets/dude.png">
    </div>
    <h2>Olly<h2>
  </div>

<!-- ERIK -->
  <div class="character">
    <div class="viewer">
      <img id="erik" class="home_sprite" src="assets/dude.png">
    </div>
    <h2>Erik<h2>
  </div>

<!-- Hero shot images display below -->
<!-- Right now this is static, however they should change on hover over character -->
  <div id="hero_shot">
    <h2>P3: Erik</h2>
    <div id="stats">
      <ul>
        <li>Class: Warrior</li>
        <li>Weapon: Axe</li>
        <li>Armour: Medium</li>
      </ul>
    </div>
  </div>

</div>





