<h1>Home</h1>

<div class="character">
  <div class="viewer">
    <img style="position:relative"class="home_sprite" src="assets/dude.png">
  </div>
  <h2>Tom<h2>
</div> 
 
<div class="character">
    <div class="viewer">
    <img style="position:relative" class="home_sprite"  src="assets/dude.png">
  </div>
  <h2>Olly<h2>
</div>

<div class="character">
  <div class="viewer">
    <img style="position:relative" class="home_sprite" src="assets/dude.png">
  </div>
  <h2>Erik<h2>
</div>