<header>
  <h1>Home</h1>
  <img id="header_img" src="assets/diamond.png">
</header>

<div id="home_container">
  <div id="info_bar">
    <h2>Choose your character</h2>
  </div>
<!-- TOM -->
  
  <div id="tom" class="character">
    <div class="viewer">
      <img  class="home_sprite" src="assets/dude.png">
    </div>
    <h2>Tom<h2>
  </div> 
  
<!--  OLLY -->
  <div id="olly" class="character">
    <div class="viewer">
      <img  class="home_sprite"  src="assets/dude.png">
    </div>
    <h2>Olly<h2>
  </div>

<!-- ERIK -->
  <div id="erik" class="character">
    <div class="viewer">
      <img  class="home_sprite" src="assets/dude.png">
    </div>
    <h2>Erik<h2>
  </div>

<!-- Hero shot images display below -->
<!-- Right now this is static, however they should change on hover over character -->
  <div id="hero_shot">
    <h2 id="home_p_name">P3: Erik</h2>
    <div id="stats">
      <ul>
        <li id="home_p_class">Class: Warrior</li>
        <li id="home_p_weap">Weapon: Axe</li>
        <li id="home_p_armour">Armour: Plate</li>
      </ul>
    </div>
  </div>

</div>





