/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_games
 *= require_self
 *= require_tree .
 */

 /*globally remove default border and margin from all browsers. We should use 
modenizer.css instead */
canvas {
    display: inline-block;  
}

* {
    margin:0px;
    border:0px;

}

html {
  font-family: 'Press Start 2P`', cursive;
}

body {
    background: #272822!important; 
    color: #f8f8f2;
}

.blue {

    color: #66D9EF
}

.red {

    color:#F92672;
}

.green {

    color:#A6E22E;

}

.orange {

    color: #FD971F;
}
