/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_games
 *= require_self
 *= require_tree .
 */

 /*globally remove default border and margin from all browsers. We should use 
modenizer.css instead */
* {
    margin:0px;
    border:0px;
    font-family: "Calibri", sans;
}
body {
    background: #272822!important;
    /* this is because background is also set in game.css. can remove when we update there.*/ 
    color: #f8f8f2;
    /*font-family: 'Press Start 2P`', cursive;*/
}
#container {
    position:relative;
    min-width: 960px;
}

a {
    text-decoration: none;
}
.blue {
    color: #66D9EF; /*rgb(102,217,239)*/
}

.red {
    color:#F92672; /*rgb(249,38,114)*/
}

.green {
    color:#A6E22E;  /*rgb(166,226,46)*/

}
.orange {
    color: #FD971F;  /*rgb(253,151,31)*/
}
