/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Fjord+One);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
/*@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);*/

#container {
    position:relative;
    min-width: 960px;
}

/*Basic reset*/
* {margin: 0; padding: 0;}

canvas {
    display: inline-block;
    height: 600px;
    width: 800px;
}

section.slider {
    float: right;
}

#accordian {
    font-family: 'Fjord One', serif;
    background: #0A1F1D;
    width: 480px;
    color: #66D9EF;
    border-radius: 3px;
    /*Some cool shadow and glow effect*/
    box-shadow: 
        0 5px 15px 1px rgba(0, 0, 0, 0.6), 
        0 0 200px 1px rgba(255, 255, 255, 0.5);

}
/*heading styles*/
#accordian h3 {
    font-size: 12px;
    line-height: 44px;
    padding: 0 10px;
    cursor: pointer;
    /*fallback for browsers not supporting gradients*/
    background: #272822; 
    background: linear-gradient(#272822, #3B3A32);
    border-radius: 3px;
}
/*heading hover effect*/
#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
    font-size: 16px;
    margin-right: 10px;
}
/*list items*/
#accordian li li {
    list-style-type: none;
    padding: 5px 10px 0 10px;
}
/*links*/

#accordian ul {
    list-style-type: none;
}

#accordian ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    display: block;
    padding: 5 15px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}

/*Lets hide the non active LIs by default*/
#accordian ul ul {
    display: none;
}
#accordian li.active ul {
    display: block;
}

span.title {
    color: #FFE792;
}

span.accordian-title {
    color: #F92672;
}

#career0, #career1, #career2 {

    visibility: hidden;
}

#education0, #education1, #education2 {

    visibility: hidden;
}

#portfolio0, #portfolio1, #portfolio2 {

    visibility: hidden;
}





