/*The following dicate the overall sturcture of the page*/

header {
  padding: 30px;
  margin-bottom: 35px;
  text-align: center;
}

#header_img {
  margin-top: 30px;
  min-height: 55px;
}

#home_container {
  text-align: center;
}

#info_bar {
  background-color: black;
  color: white;
  padding: 15px;
}

/*The following all relate to the sprite characters*/
.character {
  text-align: center;
  display: inline-block;
  margin: 30px 15px 30px 15px;
}
.viewer {
  position: relative;
  width: 32px;
  height: 48px;
  margin: 20px auto;
  overflow: hidden;
}
.home_sprite {
  position: relative;
  right: 0;
}

/*the following css relates to showing the hero images below the characters on hover*/
#hero_shot {
  border: 15px ridge #e6e000;
  border-radius: 15px;
  margin: 0 auto;
  height: 550px;
  width: 400px;
  background: url(erik.png) no-repeat;
  background-size: 100%;
  margin-bottom: 40px;
}
