<section>   
    <div class="container">
        <h1>Education History Index</h1>
        <% @educations.each do |education| %>
            <ul>
                Institution: <%= link_to(education.institution, education) %>
                <br>
            </ul>
            <hr>
        <% end %>
    </div><!-- /.container -->
</section>  
