<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Butterfly Effect</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- This talks to the Facebook Open Graph API and lets it know what images to display when shared on FB -->
  <meta property="og:image" content="http://www.butterflyeffect.herokuapp.com/assets/erik.png" />
  <meta property="og:image" content="http://www.butterflyeffect.herokuapp.com/assets/olly3.png" />
  <meta property="og:image" content="http://www.butterflyeffect.herokuapp.com/assets/tom.png" />
  <meta property="og:image" content="/assets/tom.png" />


  <meta name="description" content="Collect butterflies to help Olly, Tom, and Erik get home.">
  
  <!-- Google Analytics script below. -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50247211-1', 'http://www.butterflyeffect.herokuapp.com');
    ga('send', 'pageview');

  </script>
</head>
<body id="container">

<%= yield %>

</body>
</html>
